body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

h1 {
	font-size: 36px;
	font-weight: 700;
	line-height: 54px;
	text-align: left;
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	text-align: left;
	padding: 0;
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	text-align: left;
	padding: 0;
	margin: 0;
}

.custom-border {
	border-color: #cccc;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-color: #000; /* Warna hitam untuk ikon kontrol carousel */
	border-radius: 50%; /* Membuat ikon kontrol menjadi lingkaran */
}

/* Aturan umum untuk layar besar */
.item-card {
	width: 50%;
}

/* Aturan khusus untuk layar kecil (mobile) */
@media (max-width: 767px) {
	.item-card {
		width: 100%;
	}

	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		background-color: #000; /* Warna hitam untuk ikon kontrol carousel */
		border-radius: 50%; /* Membuat ikon kontrol menjadi lingkaran */
	}
}
